In [ ]:
!pip3 install scikit-learn==1.0 -U
!pip install imblearn
!pip install pymorphy2
!pip install optuna

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

from sklearn.metrics import make_scorer

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression


from sklearn.neural_network import MLPClassifier
from imblearn.ensemble import BalancedBaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
import xgboost as xgb

from tqdm import tqdm

from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import RUSBoostClassifier
from imblearn.ensemble import EasyEnsembleClassifier

from sklearn.feature_extraction.text import CountVectorizer
from imblearn.over_sampling import BorderlineSMOTE
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import ADASYN
from imblearn.over_sampling import SMOTEN
from imblearn.over_sampling import SVMSMOTE
from imblearn.over_sampling import BorderlineSMOTE
from imblearn.over_sampling import SMOTEN

from imblearn.over_sampling import RandomOverSampler 

from imblearn.under_sampling import RandomUnderSampler

from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import NeighbourhoodCleaningRule

from sklearn.preprocessing import normalize
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer

import nltk
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
nltk.download('punkt')

import pymorphy2
import optuna

import lightgbm

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
def sort(arr, n):
    for i in range(1, n):
        temp = arr[i] 
        j = i - 1
        while j >= 0 and len(temp) > len(arr[j]):
            arr[j + 1] = arr[j]
            j -= 1
 
        arr[j + 1] = temp

Откроем файл с данными.

In [ ]:
df = pd.read_csv('credit_train.csv', index_col='id')

In [ ]:
df.head()

,gender,age,marital_status,credit_sum,credit_month,tariff_id,education,credit_count,overdue_credit_count,job_pos,credit_score,region,income,opened
id,,,,,,,,,,,,,,
26031,M,24,UNM,"24000,00",10,1.60,SCH,2.0,0.0,SPC,"0,728851",ОБЛ ЛЕНИНГРАДСКАЯ,35000.0,True
148877,M,23,UNM,"16339,00",18,1.10,SCH,2.0,0.0,SPC,"0,347385",МОСКВА Г,38000.0,True
142019,M,54,UNM,"15652,00",10,1.32,GRD,2.0,0.0,SPC,"0,349705",ОБЛ МОСКОВСКАЯ,38000.0,True
146816,F,52,UNM,"16560,00",10,1.10,SCH,1.0,0.0,SPC,"0,359232",РЕСП МОРДОВИЯ,28000.0,False
27699,F,63,WID,"9078,00",18,1.10,SCH,4.0,0.0,SPC,"0,529368",ЧЕЛЯБИНСКАЯ ОБЛ,30000.0,False

Удалим колонки с которыми мы не умеем работать (ну или вы умеете :D)

In [ ]:
from pandas.core.arrays import categorical
df = pd.read_csv('credit_train.csv')

df = df.drop_duplicates()
df = df.fillna('-1')

# df = df.dropna()
df['region'] = df['region'].apply(lambda x: str(x))
y_train = df['opened']
X_train = df.drop(columns=['opened', 'id'])
X_train['credit_sum'] = X_train['credit_sum'].apply(lambda x: int(float(x.replace(',', '.'))))
X_train['credit_score'] = X_train['credit_score'].apply(lambda x: float(x.replace(',', '.')))
X_train['credit_score'] = X_train['credit_score'].apply(lambda x: float("{:.2f}".format(x)))
X_train['credit_count'] = X_train['credit_count'].apply(lambda x: int(x))
X_train['overdue_credit_count'] = X_train['overdue_credit_count'].apply(lambda x: int(x))
X_train['income'] = X_train['income'].apply(lambda x: int(x))

# X_train['gender'] = np.array(X_train['gender'])
# X_train['gender'] = X_train['gender'].values.reshape(-1, 1)
# onehotencoder1 = OrdinalEncoder()
# X_train['gender'] = onehotencoder1.fit_transform(X_train['gender']).toarray()



X_train['gender'] = X_train['gender'].apply(lambda x: int(x.replace('F','0').replace('M', '1')))
X_train['marital_status'] = X_train['marital_status'].apply(lambda x: int(x.replace('MAR','1').replace('UNM', '2').replace('DIV', '3').replace('CIV', '4').replace('WID', '5')))
X_train['job_pos'] = X_train['job_pos'].apply(lambda x: int(x.replace('SPC','1').replace('BIU', '2').replace('UMN', '3').replace('WOI', '4').replace('ATP', '5').replace('INP','6').replace('BIS', '7').replace('HSK', '8').replace('DIR', '9').replace('PNV', '10').replace('PNA','11').replace('PNI', '12').replace('WRP', '13').replace('PNS', '14').replace('WRK', '15').replace('ONB','16').replace('NOR', '17').replace('INV', '18')))
X_train['education'] = X_train['education'].apply(lambda x: int(x.replace('SCH','1').replace('GRD', '2').replace('UGR', '3').replace('PGR', '4').replace('ACD', '5')))
X_train['region'] = X_train['region'].apply(lambda x: str(x).replace('ОБЛАСТЬ','').replace('РЕСПУБЛИКА','').replace('ОБЛ','').replace('ОКРУГ','').replace('РЕСП','').replace('КРАЙ','').replace('Г','').replace('.','').replace('Р-Н','').replace(' ',''))




# X = word_tokenize(X_train['region'][0])

# morph = pymorphy2.MorphAnalyzer()

# w_lem_rus = [morph.normal_forms(word)[0] for word in X]

# n = len(w_lem_rus)
# sort(w_lem_rus, n)

# X_train['gender']

In [ ]:
X_train['region'].size

114399

In [ ]:
morph = pymorphy2.MorphAnalyzer()

for i in tqdm(range(X_train['region'].size)):
  w_lem = [morph.normal_forms(word)[0] for word in word_tokenize(X_train['region'][i])]
  n = len(w_lem)
  sort(w_lem, n)

  X_train['region'][i] = w_lem[0][0:4]

  0%|          | 0/114399 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

100%|██████████| 114399/114399 [03:52<00:00, 491.67it/s]

In [ ]:
print(X_train['region'].value_counts()[0:60])

In [ ]:
diction = {}
i = 1
for reg in X_train.region.unique():
    diction[reg] = i
    i += 1

diction
# X_train['region'] = 0

# # X_train['region'][148877]

for id in tqdm(X_train.index):
    X_train['region'][id] = diction[X_train['region'][id]]

  0%|          | 0/114399 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
100%|██████████| 114399/114399 [01:40<00:00, 1133.35it/s]

In [ ]:
X_train.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            114389, 114390, 114391, 114392, 114393, 114394, 114395, 114396,
            114397, 114398],
           dtype='int64', length=114399)

In [ ]:
X_resampled, y_resampled = SMOTE().fit_resample(X_train, y_train)

ros = RandomOverSampler()
X_ros, y_ros = ros.fit_resample(X_train, y_train)

In [ ]:
X_resampled

In [ ]:

X_train.loc[((X_train.age >= 18) & (X_train.age <= 20)),  'age'] = 1
X_train.loc[((X_train.age >= 21) & (X_train.age <= 23)),  'age'] = 2
X_train.loc[((X_train.age >= 24) & (X_train.age <= 26)),  'age'] = 3
X_train.loc[((X_train.age >= 27) & (X_train.age <= 30)),  'age'] = 4
X_train.loc[((X_train.age >= 31) & (X_train.age <= 34)),  'age'] = 5
X_train.loc[((X_train.age >= 35) & (X_train.age <= 37)),  'age'] = 6
X_train.loc[((X_train.age >= 38) & (X_train.age <= 42)),  'age'] = 7
X_train.loc[((X_train.age >= 43) & (X_train.age <= 44)),  'age'] = 8
X_train.loc[((X_train.age >= 45) & (X_train.age <= 46)),  'age'] = 9
X_train.loc[((X_train.age >= 47) & (X_train.age <= 50)),  'age'] = 10
X_train.loc[((X_train.age >= 51) & (X_train.age <= 52)),  'age'] = 11
X_train.loc[((X_train.age >= 53) & (X_train.age <= 54)),  'age'] = 12
X_train.loc[((X_train.age >= 55) & (X_train.age <= 56)),  'age'] = 13
X_train.loc[((X_train.age >= 57) & (X_train.age <= 59)),  'age'] = 14
X_train.loc[((X_train.age >= 60) & (X_train.age <= 63)),  'age'] = 15
X_train.loc[((X_train.age >= 64) & (X_train.age <= 66)),  'age'] = 16
X_train.loc[((X_train.age >= 67) & (X_train.age <= 70)),  'age'] = 17
X_train.loc[((X_train.age >= 71) & (X_train.age <= 71)),  'age'] = 18

In [ ]:
scaler = StandardScaler().fit(X_train)
# scaler
X_scaled = scaler.transform(X_train)
X_scaled

array([[ 1.04273984, -0.99907137,  0.37696356, ...,  2.0969627 ,
        -1.19643963, -0.20434392],
       [ 1.04273984, -1.29760282,  0.37696356, ..., -0.95959044,
        -1.14555996, -0.08479663],
       [ 1.04273984,  1.68771168,  0.37696356, ..., -0.95959044,
        -1.14555996, -0.08479663],
       ...,
       [-0.95901198,  0.79211733, -0.73006389, ..., -1.12046166,
         2.16161847, -0.38764976],
       [-0.95901198,  1.09064878, -0.73006389, ...,  0.00563687,
         2.51777614, -0.96147675],
       [ 1.04273984,  2.28477458, -0.73006389, ..., -0.87915483,
         2.31425747, -0.4035894 ]])

In [ ]:
rus = RandomUnderSampler()

X_res, y_res = rus.fit_resample(X_scaled, y_train)

In [ ]:
sampler = BorderlineSMOTE()

X_res, y_res = sampler.fit_resample(X_scaled, y_train)

In [ ]:
X_res

array([[-0.12554381, -0.27819561,  1.17137564, ...,  0.03516984,
         2.0889326 , -0.20421823],
       [-0.5985378 ,  1.98720955, -0.95148058, ...,  0.03516984,
        -0.98080822, -0.08460703],
       [-0.64095353, -0.27819561, -0.01742384, ...,  0.03516984,
        -0.96213867, -0.08460703],
       ...,
       [ 2.25686816,  0.28815568, -0.95148058, ...,  0.03516984,
        -0.64760343,  2.38735765],
       [-1.09413895, -0.27819561,  1.17137564, ...,  0.03516984,
         1.01416413, -0.82264378],
       [ 0.6184845 ,  0.28815568,  1.31853099, ...,  0.03516984,
         2.34804364, -0.46473238]])

In [ ]:
# pt = PowerTransformer(method='box-cox', standardize=False)
# X_lognormal = pt.fit_transform(X_train)

X_normilased = normalize(X_train, norm='l2')

In [ ]:
min_max_scaler = MinMaxScaler()
X_train_minmax = min_max_scaler.fit_transform(X_train)
X_train_minmax

array([[0.10779463, 0.21212121, 0.625     , ..., 0.25      , 0.64597786,
        0.03174603],
       [0.06895835, 0.45454545, 0.10416667, ..., 0.25      , 0.307886  ,
        0.03492063],
       [0.06547571, 0.21212121, 0.33333333, ..., 0.25      , 0.3099422 ,
        0.03492063],
       ...,
       [0.06935883, 0.21212121, 0.10416667, ..., 0.25      , 0.29015564,
        0.02687831],
       [0.04781917, 0.21212121, 0.41666667, ..., 0.25      , 0.4142504 ,
        0.01164021],
       [0.0296202 , 0.21212121, 0.10416667, ..., 0.25      , 0.31489128,
        0.02645503]])

In [ ]:
X_lognormal

In [ ]:
X_normilased

array([[2.35636807e-05, 7.06910420e-05, 4.71273613e-05, ...,
        1.71744122e-05, 2.35636807e-05, 8.24728823e-01],
       [2.41757334e-05, 4.83514668e-05, 4.83514668e-05, ...,
        8.39828714e-06, 4.83514668e-05, 9.18677868e-01],
       [2.43325181e-05, 2.91990218e-04, 4.86650363e-05, ...,
        8.50920326e-06, 7.29975544e-05, 9.24635689e-01],
       ...,
       [0.00000000e+00, 2.60490556e-04, 2.89433952e-05, ...,
        9.47548871e-06, 2.08392445e-03, 8.79879213e-01],
       [0.00000000e+00, 4.97462370e-04, 4.97462370e-05, ...,
        2.32511424e-05, 4.02944520e-03, 7.95939792e-01],
       [3.20485622e-05, 4.48679871e-04, 3.20485622e-05, ...,
        1.13865016e-05, 2.40364217e-03, 9.61456866e-01]])

Обучим что-нибудь классное

In [ ]:
y_n = []
for i in range(len(y_train)):
  if y_train[i] == True:
    y_n.append(1)
  else:
    y_n.append(0)

In [ ]:
def objective(trial, data = X_scaled, target = y_train):
  train_x, test_x, train_y, test_y = train_test_split(X_scaled, y_n, test_size=0.15, random_state = 42)
  params = {
      'reg_alpha': trial.suggest_float('reg_alpha', 0.001, 10.0),
      'reg_lambda': trial.suggest_float('reg_lanbda', 0.001, 10.0),
      'num_leaves': trial.suggest_int('num_leaves', 11, 333),
      'min_child_samples': trial.suggest_int('min_child_samples', 5, 108),
      'max_depth': trial.suggest_int('max_depth', 5, 64),
      'learning_rate': trial.suggest_categorical('learning_rate', [0.01, 0.02, 0.05, 0.005, 0.11]),
      'colsample_bytree': trial.suggest_float('colsample_bytree', 0.1, 0.5),
      'n_estimators': trial.suggest_int('n_estimators', 2000, 8000),
      'cat_smooth' : trial.suggest_int('cat_smooth', 10, 100),
      'cat_l2': trial. suggest_int('cat_l2', 1, 20),
      'min_data_per_group': trial.suggest_int("min_data_per_group", 50, 200),
      'cat_feature' : [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 58, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68],
      'n_jobs': -1,
      'random_state': 42,
      'boosting_type': 'gbdt',
      'metric': 'f1',
      'class_weight': {0: 0.61, 1: 2.83},
      }

  model = lightgbm.LGBMClassifier(**params)
  model.fit(train_x, train_y, eval_set=[(test_x, test_y)], eval_metric='f1', verbose=True)

  preds = model.predict(test_x) 

  f_1 = f1_score(test_y, preds)

  return f_1

study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=50)

[I 2022-05-14 17:45:40,578] A new study created in memory with name: no-name-4b703e83-54e3-4ea8-b4dc-df714b896362
[I 2022-05-14 17:46:43,711] Trial 0 finished with value: 0.4410973641742873 and parameters: {'reg_alpha': 4.823314090241269, 'reg_lanbda': 4.04600770612389, 'num_leaves': 261, 'min_child_samples': 46, 'max_depth': 20, 'learning_rate': 0.02, 'colsample_bytree': 0.2614044318041986, 'n_estimators': 4107, 'cat_smooth': 21, 'cat_l2': 12, 'min_data_per_group': 171}. Best is trial 0 with value: 0.4410973641742873.
[I 2022-05-14 17:47:20,980] Trial 1 finished with value: 0.42753787022383 and parameters: {'reg_alpha': 2.706865220828238, 'reg_lanbda': 8.86835449634802, 'num_leaves': 306, 'min_child_samples': 45, 'max_depth': 51, 'learning_rate': 0.11, 'colsample_bytree': 0.24579413719815155, 'n_estimators': 4781, 'cat_smooth': 61, 'cat_l2': 9, 'min_data_per_group': 59}. Best is trial 0 with value: 0.4410973641742873.
[I 2022-05-14 17:49:17,398] Trial 2 finished with value: 0.41636840849439277 and parameters: {'reg_alpha': 1.0098411337208104, 'reg_lanbda': 3.745703369119245, 'num_leaves': 220, 'min_child_samples': 41, 'max_depth': 17, 'learning_rate': 0.05, 'colsample_bytree': 0.2880704712496942, 'n_estimators': 6878, 'cat_smooth': 65, 'cat_l2': 7, 'min_data_per_group': 116}. Best is trial 0 with value: 0.4410973641742873.
[I 2022-05-14 17:50:14,867] Trial 3 finished with value: 0.4433684210526316 and parameters: {'reg_alpha': 5.089595591540722, 'reg_lanbda': 1.2904013011584, 'num_leaves': 54, 'min_child_samples': 30, 'max_depth': 20, 'learning_rate': 0.02, 'colsample_bytree': 0.3064226360227047, 'n_estimators': 7919, 'cat_smooth': 37, 'cat_l2': 15, 'min_data_per_group': 128}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:50:46,328] Trial 4 finished with value: 0.44248539564524697 and parameters: {'reg_alpha': 7.441906598425585, 'reg_lanbda': 2.985491843719915, 'num_leaves': 312, 'min_child_samples': 40, 'max_depth': 47, 'learning_rate': 0.05, 'colsample_bytree': 0.36446422999739136, 'n_estimators': 4888, 'cat_smooth': 59, 'cat_l2': 11, 'min_data_per_group': 141}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:52:12,695] Trial 5 finished with value: 0.4381948986265533 and parameters: {'reg_alpha': 3.9064599790759407, 'reg_lanbda': 5.215793112168589, 'num_leaves': 193, 'min_child_samples': 17, 'max_depth': 50, 'learning_rate': 0.02, 'colsample_bytree': 0.26834429489250144, 'n_estimators': 7838, 'cat_smooth': 10, 'cat_l2': 14, 'min_data_per_group': 62}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:54:44,631] Trial 6 finished with value: 0.4413540319103062 and parameters: {'reg_alpha': 3.8882141773806507, 'reg_lanbda': 0.8367781360522811, 'num_leaves': 132, 'min_child_samples': 43, 'max_depth': 46, 'learning_rate': 0.005, 'colsample_bytree': 0.44843630369850374, 'n_estimators': 7350, 'cat_smooth': 26, 'cat_l2': 6, 'min_data_per_group': 198}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:55:06,126] Trial 7 finished with value: 0.4413265306122449 and parameters: {'reg_alpha': 6.922692897089693, 'reg_lanbda': 8.991467224444678, 'num_leaves': 276, 'min_child_samples': 55, 'max_depth': 34, 'learning_rate': 0.05, 'colsample_bytree': 0.32897269842713195, 'n_estimators': 2108, 'cat_smooth': 90, 'cat_l2': 7, 'min_data_per_group': 136}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:55:43,592] Trial 8 finished with value: 0.4413155406115372 and parameters: {'reg_alpha': 7.599412151784071, 'reg_lanbda': 5.358426332532258, 'num_leaves': 125, 'min_child_samples': 73, 'max_depth': 50, 'learning_rate': 0.05, 'colsample_bytree': 0.18053892493425763, 'n_estimators': 7164, 'cat_smooth': 10, 'cat_l2': 1, 'min_data_per_group': 117}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:56:43,610] Trial 9 finished with value: 0.4422552923915322 and parameters: {'reg_alpha': 6.371515957141905, 'reg_lanbda': 8.796218516295728, 'num_leaves': 258, 'min_child_samples': 51, 'max_depth': 5, 'learning_rate': 0.01, 'colsample_bytree': 0.21017020379779658, 'n_estimators': 7206, 'cat_smooth': 89, 'cat_l2': 2, 'min_data_per_group': 117}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:57:28,936] Trial 10 finished with value: 0.4427937686990612 and parameters: {'reg_alpha': 9.960539514071204, 'reg_lanbda': 0.18270261133909305, 'num_leaves': 23, 'min_child_samples': 106, 'max_depth': 64, 'learning_rate': 0.02, 'colsample_bytree': 0.48642069369141216, 'n_estimators': 6010, 'cat_smooth': 43, 'cat_l2': 20, 'min_data_per_group': 91}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:58:06,757] Trial 11 finished with value: 0.4357165420659155 and parameters: {'reg_alpha': 9.431846481186287, 'reg_lanbda': 0.423026186398898, 'num_leaves': 21, 'min_child_samples': 100, 'max_depth': 31, 'learning_rate': 0.02, 'colsample_bytree': 0.11280391548684343, 'n_estimators': 5895, 'cat_smooth': 39, 'cat_l2': 20, 'min_data_per_group': 84}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:58:50,185] Trial 12 finished with value: 0.4425602316203081 and parameters: {'reg_alpha': 9.921953639215701, 'reg_lanbda': 1.620687088003344, 'num_leaves': 39, 'min_child_samples': 104, 'max_depth': 64, 'learning_rate': 0.02, 'colsample_bytree': 0.4978419610379121, 'n_estimators': 6153, 'cat_smooth': 44, 'cat_l2': 19, 'min_data_per_group': 93}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 17:59:34,014] Trial 13 finished with value: 0.43959435626102294 and parameters: {'reg_alpha': 0.5052133728807471, 'reg_lanbda': 2.253469827977087, 'num_leaves': 70, 'min_child_samples': 6, 'max_depth': 22, 'learning_rate': 0.02, 'colsample_bytree': 0.3860321918857537, 'n_estimators': 3446, 'cat_smooth': 35, 'cat_l2': 16, 'min_data_per_group': 91}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 18:00:47,984] Trial 14 finished with value: 0.4427959460871383 and parameters: {'reg_alpha': 8.640020129215639, 'reg_lanbda': 0.1494758172385089, 'num_leaves': 84, 'min_child_samples': 79, 'max_depth': 62, 'learning_rate': 0.01, 'colsample_bytree': 0.4270968719067105, 'n_estimators': 6090, 'cat_smooth': 74, 'cat_l2': 17, 'min_data_per_group': 160}. Best is trial 3 with value: 0.4433684210526316.
[I 2022-05-14 18:02:05,621] Trial 15 finished with value: 0.4435348446683459 and parameters: {'reg_alpha': 8.59111527995699, 'reg_lanbda': 7.00735247524714, 'num_leaves': 96, 'min_child_samples': 73, 'max_depth': 27, 'learning_rate': 0.01, 'colsample_bytree': 0.4108516309646194, 'n_estimators': 6308, 'cat_smooth': 79, 'cat_l2': 16, 'min_data_per_group': 158}. Best is trial 15 with value: 0.4435348446683459.
[I 2022-05-14 18:03:59,112] Trial 16 finished with value: 0.4418604651162791 and parameters: {'reg_alpha': 5.842647812571647, 'reg_lanbda': 6.931972757257276, 'num_leaves': 127, 'min_child_samples': 28, 'max_depth': 9, 'learning_rate': 0.01, 'colsample_bytree': 0.3574551901981785, 'n_estimators': 7764, 'cat_smooth': 75, 'cat_l2': 14, 'min_data_per_group': 161}. Best is trial 15 with value: 0.4435348446683459.
[I 2022-05-14 18:06:17,036] Trial 17 finished with value: 0.4422281167108753 and parameters: {'reg_alpha': 2.393746975408919, 'reg_lanbda': 7.618886015169868, 'num_leaves': 91, 'min_child_samples': 72, 'max_depth': 25, 'learning_rate': 0.005, 'colsample_bytree': 0.39696921528976153, 'n_estimators': 6601, 'cat_smooth': 51, 'cat_l2': 16, 'min_data_per_group': 189}. Best is trial 15 with value: 0.4435348446683459.
[I 2022-05-14 18:06:44,076] Trial 18 finished with value: 0.44080684338367304 and parameters: {'reg_alpha': 5.325594716022183, 'reg_lanbda': 6.244000610430343, 'num_leaves': 58, 'min_child_samples': 90, 'max_depth': 14, 'learning_rate': 0.11, 'colsample_bytree': 0.3204174097336768, 'n_estimators': 5414, 'cat_smooth': 78, 'cat_l2': 13, 'min_data_per_group': 140}. Best is trial 15 with value: 0.4435348446683459.
[I 2022-05-14 18:08:28,199] Trial 19 finished with value: 0.4405846219021394 and parameters: {'reg_alpha': 7.943191597908519, 'reg_lanbda': 9.941768194552523, 'num_leaves': 146, 'min_child_samples': 67, 'max_depth': 40, 'learning_rate': 0.01, 'colsample_bytree': 0.43401700560460044, 'n_estimators': 6548, 'cat_smooth': 95, 'cat_l2': 17, 'min_data_per_group': 176}. Best is trial 15 with value: 0.4435348446683459.
[I 2022-05-14 18:09:12,188] Trial 20 finished with value: 0.4443738080101717 and parameters: {'reg_alpha': 8.818315226312333, 'reg_lanbda': 6.207648321925974, 'num_leaves': 174, 'min_child_samples': 23, 'max_depth': 28, 'learning_rate': 0.01, 'colsample_bytree': 0.15862602630054343, 'n_estimators': 4300, 'cat_smooth': 52, 'cat_l2': 10, 'min_data_per_group': 159}. Best is trial 20 with value: 0.4443738080101717.
[I 2022-05-14 18:09:38,945] Trial 21 finished with value: 0.43362831858407075 and parameters: {'reg_alpha': 8.68303656075686, 'reg_lanbda': 6.2671531307544575, 'num_leaves': 189, 'min_child_samples': 28, 'max_depth': 28, 'learning_rate': 0.01, 'colsample_bytree': 0.12866595210702436, 'n_estimators': 3881, 'cat_smooth': 51, 'cat_l2': 9, 'min_data_per_group': 155}. Best is trial 20 with value: 0.4443738080101717.
[I 2022-05-14 18:10:24,950] Trial 22 finished with value: 0.4443738753043294 and parameters: {'reg_alpha': 8.750495392594868, 'reg_lanbda': 7.580999080357259, 'num_leaves': 101, 'min_child_samples': 30, 'max_depth': 38, 'learning_rate': 0.01, 'colsample_bytree': 0.18236959864090344, 'n_estimators': 4352, 'cat_smooth': 34, 'cat_l2': 10, 'min_data_per_group': 150}. Best is trial 22 with value: 0.4443738753043294.
[I 2022-05-14 18:10:56,248] Trial 23 finished with value: 0.4413793103448276 and parameters: {'reg_alpha': 8.72141565670359, 'reg_lanbda': 7.750016200799808, 'num_leaves': 103, 'min_child_samples': 14, 'max_depth': 39, 'learning_rate': 0.01, 'colsample_bytree': 0.1565568679130621, 'n_estimators': 3010, 'cat_smooth': 28, 'cat_l2': 10, 'min_data_per_group': 149}. Best is trial 22 with value: 0.4443738753043294.
[I 2022-05-14 18:11:40,966] Trial 24 finished with value: 0.44373875304329424 and parameters: {'reg_alpha': 8.493674321390202, 'reg_lanbda': 7.604131732693764, 'num_leaves': 165, 'min_child_samples': 59, 'max_depth': 40, 'learning_rate': 0.01, 'colsample_bytree': 0.21506914849841816, 'n_estimators': 4275, 'cat_smooth': 68, 'cat_l2': 6, 'min_data_per_group': 178}. Best is trial 22 with value: 0.4443738753043294.
[I 2022-05-14 18:12:26,464] Trial 25 finished with value: 0.4437149211055808 and parameters: {'reg_alpha': 6.807521070073996, 'reg_lanbda': 7.996407753313936, 'num_leaves': 172, 'min_child_samples': 60, 'max_depth': 38, 'learning_rate': 0.01, 'colsample_bytree': 0.21778884511032728, 'n_estimators': 4275, 'cat_smooth': 67, 'cat_l2': 4, 'min_data_per_group': 176}. Best is trial 22 with value: 0.4443738753043294.
[I 2022-05-14 18:12:57,184] Trial 26 finished with value: 0.44281773817101633 and parameters: {'reg_alpha': 9.175330400252221, 'reg_lanbda': 5.941395579673396, 'num_leaves': 219, 'min_child_samples': 34, 'max_depth': 43, 'learning_rate': 0.01, 'colsample_bytree': 0.16050023156152365, 'n_estimators': 2970, 'cat_smooth': 49, 'cat_l2': 4, 'min_data_per_group': 185}. Best is trial 22 with value: 0.4443738753043294.
[I 2022-05-14 18:13:44,113] Trial 27 finished with value: 0.4443501326259947 and parameters: {'reg_alpha': 8.046621096349137, 'reg_lanbda': 4.489264472615126, 'num_leaves': 159, 'min_child_samples': 18, 'max_depth': 33, 'learning_rate': 0.01, 'colsample_bytree': 0.20851623562705188, 'n_estimators': 4460, 'cat_smooth': 55, 'cat_l2': 5, 'min_data_per_group': 170}. Best is trial 22 with value: 0.4443738753043294.
[I 2022-05-14 18:14:06,669] Trial 28 finished with value: 0.44302337771254846 and parameters: {'reg_alpha': 7.655743783254364, 'reg_lanbda': 4.054240369438598, 'num_leaves': 222, 'min_child_samples': 18, 'max_depth': 33, 'learning_rate': 0.11, 'colsample_bytree': 0.17772857648355592, 'n_estimators': 4650, 'cat_smooth': 57, 'cat_l2': 8, 'min_data_per_group': 168}. Best is trial 22 with value: 0.4443738753043294.
[I 2022-05-14 18:15:31,420] Trial 29 finished with value: 0.4444915703530909 and parameters: {'reg_alpha': 6.237648884078755, 'reg_lanbda': 4.491660491405165, 'num_leaves': 151, 'min_child_samples': 22, 'max_depth': 30, 'learning_rate': 0.005, 'colsample_bytree': 0.2449516696639521, 'n_estimators': 5441, 'cat_smooth': 20, 'cat_l2': 12, 'min_data_per_group': 146}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:17:07,782] Trial 30 finished with value: 0.44380218368657676 and parameters: {'reg_alpha': 4.341994951442405, 'reg_lanbda': 3.4769863798269367, 'num_leaves': 193, 'min_child_samples': 5, 'max_depth': 58, 'learning_rate': 0.005, 'colsample_bytree': 0.24387144688122292, 'n_estimators': 5526, 'cat_smooth': 19, 'cat_l2': 12, 'min_data_per_group': 129}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:17:46,794] Trial 31 finished with value: 0.43506768189509304 and parameters: {'reg_alpha': 6.64867290896222, 'reg_lanbda': 4.575481265162755, 'num_leaves': 149, 'min_child_samples': 22, 'max_depth': 30, 'learning_rate': 0.005, 'colsample_bytree': 0.14492796647857958, 'n_estimators': 5318, 'cat_smooth': 19, 'cat_l2': 11, 'min_data_per_group': 148}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:18:26,589] Trial 32 finished with value: 0.4413265306122449 and parameters: {'reg_alpha': 6.116125204606709, 'reg_lanbda': 4.552834991898614, 'num_leaves': 117, 'min_child_samples': 11, 'max_depth': 24, 'learning_rate': 0.005, 'colsample_bytree': 0.1843665650586823, 'n_estimators': 3706, 'cat_smooth': 32, 'cat_l2': 10, 'min_data_per_group': 170}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:19:30,684] Trial 33 finished with value: 0.4436240902858348 and parameters: {'reg_alpha': 7.163343106268693, 'reg_lanbda': 5.650855742507627, 'num_leaves': 151, 'min_child_samples': 25, 'max_depth': 33, 'learning_rate': 0.01, 'colsample_bytree': 0.2448131182937017, 'n_estimators': 4604, 'cat_smooth': 24, 'cat_l2': 12, 'min_data_per_group': 149}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:20:07,821] Trial 34 finished with value: 0.4339822259839188 and parameters: {'reg_alpha': 7.953054828170536, 'reg_lanbda': 4.575233788042768, 'num_leaves': 209, 'min_child_samples': 35, 'max_depth': 15, 'learning_rate': 0.005, 'colsample_bytree': 0.1049123228426122, 'n_estimators': 5147, 'cat_smooth': 44, 'cat_l2': 9, 'min_data_per_group': 166}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:20:28,619] Trial 35 finished with value: 0.43986036178990795 and parameters: {'reg_alpha': 8.021072781135826, 'reg_lanbda': 2.685009693321899, 'num_leaves': 246, 'min_child_samples': 21, 'max_depth': 20, 'learning_rate': 0.11, 'colsample_bytree': 0.2762754067393713, 'n_estimators': 4456, 'cat_smooth': 15, 'cat_l2': 4, 'min_data_per_group': 106}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:21:21,073] Trial 36 finished with value: 0.44319864607573517 and parameters: {'reg_alpha': 9.264236416834727, 'reg_lanbda': 6.585872085227441, 'num_leaves': 165, 'min_child_samples': 36, 'max_depth': 36, 'learning_rate': 0.01, 'colsample_bytree': 0.22594592941693065, 'n_estimators': 4919, 'cat_smooth': 30, 'cat_l2': 8, 'min_data_per_group': 133}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:22:02,575] Trial 37 finished with value: 0.44354753053637813 and parameters: {'reg_alpha': 5.383993554321124, 'reg_lanbda': 3.381535584024885, 'num_leaves': 115, 'min_child_samples': 10, 'max_depth': 43, 'learning_rate': 0.01, 'colsample_bytree': 0.19828739515765592, 'n_estimators': 3812, 'cat_smooth': 60, 'cat_l2': 13, 'min_data_per_group': 144}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:23:49,960] Trial 38 finished with value: 0.4431228373702423 and parameters: {'reg_alpha': 2.576729354068106, 'reg_lanbda': 4.81658286958481, 'num_leaves': 333, 'min_child_samples': 40, 'max_depth': 30, 'learning_rate': 0.005, 'colsample_bytree': 0.29547014251695836, 'n_estimators': 5600, 'cat_smooth': 39, 'cat_l2': 6, 'min_data_per_group': 195}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:24:12,747] Trial 39 finished with value: 0.4355228586442459 and parameters: {'reg_alpha': 7.170404995341341, 'reg_lanbda': 4.151174496371549, 'num_leaves': 186, 'min_child_samples': 17, 'max_depth': 36, 'learning_rate': 0.05, 'colsample_bytree': 0.13233228056858407, 'n_estimators': 3346, 'cat_smooth': 23, 'cat_l2': 11, 'min_data_per_group': 153}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:25:12,585] Trial 40 finished with value: 0.4430514237144072 and parameters: {'reg_alpha': 4.578403664226544, 'reg_lanbda': 5.284272951265947, 'num_leaves': 140, 'min_child_samples': 46, 'max_depth': 44, 'learning_rate': 0.01, 'colsample_bytree': 0.2548617565819417, 'n_estimators': 4055, 'cat_smooth': 64, 'cat_l2': 8, 'min_data_per_group': 121}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:26:52,784] Trial 41 finished with value: 0.44320497693875366 and parameters: {'reg_alpha': 3.6990723101793117, 'reg_lanbda': 3.8843967580158747, 'num_leaves': 195, 'min_child_samples': 7, 'max_depth': 58, 'learning_rate': 0.005, 'colsample_bytree': 0.23897160414307916, 'n_estimators': 5744, 'cat_smooth': 17, 'cat_l2': 12, 'min_data_per_group': 127}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:27:52,405] Trial 42 finished with value: 0.44266837169650464 and parameters: {'reg_alpha': 4.710398676770932, 'reg_lanbda': 3.0803932287311415, 'num_leaves': 244, 'min_child_samples': 13, 'max_depth': 55, 'learning_rate': 0.005, 'colsample_bytree': 0.19034638414637137, 'n_estimators': 4973, 'cat_smooth': 13, 'cat_l2': 12, 'min_data_per_group': 133}. Best is trial 29 with value: 0.4444915703530909.
[I 2022-05-14 18:29:15,406] Trial 43 finished with value: 0.44522367442354693 and parameters: {'reg_alpha': 5.789755352457066, 'reg_lanbda': 8.254144546090393, 'num_leaves': 160, 'min_child_samples': 5, 'max_depth': 53, 'learning_rate': 0.005, 'colsample_bytree': 0.27259143435653593, 'n_estimators': 5213, 'cat_smooth': 21, 'cat_l2': 14, 'min_data_per_group': 111}. Best is trial 43 with value: 0.44522367442354693.
[I 2022-05-14 18:30:41,173] Trial 44 finished with value: 0.4456960680127524 and parameters: {'reg_alpha': 5.741429176964243, 'reg_lanbda': 8.356164943438623, 'num_leaves': 164, 'min_child_samples': 23, 'max_depth': 48, 'learning_rate': 0.005, 'colsample_bytree': 0.27584240575625024, 'n_estimators': 5217, 'cat_smooth': 33, 'cat_l2': 14, 'min_data_per_group': 103}. Best is trial 44 with value: 0.4456960680127524.
[I 2022-05-14 18:32:07,792] Trial 45 finished with value: 0.4453906748988716 and parameters: {'reg_alpha': 6.066138716058097, 'reg_lanbda': 8.467313189081263, 'num_leaves': 178, 'min_child_samples': 24, 'max_depth': 51, 'learning_rate': 0.005, 'colsample_bytree': 0.2841530451096035, 'n_estimators': 5160, 'cat_smooth': 34, 'cat_l2': 14, 'min_data_per_group': 110}. Best is trial 44 with value: 0.4456960680127524.
[I 2022-05-14 18:33:22,887] Trial 46 finished with value: 0.4441865372441443 and parameters: {'reg_alpha': 5.740447497010227, 'reg_lanbda': 8.476506543927467, 'num_leaves': 77, 'min_child_samples': 30, 'max_depth': 51, 'learning_rate': 0.005, 'colsample_bytree': 0.2698409682650331, 'n_estimators': 5212, 'cat_smooth': 35, 'cat_l2': 14, 'min_data_per_group': 108}. Best is trial 44 with value: 0.4456960680127524.
[I 2022-05-14 18:34:54,944] Trial 47 finished with value: 0.4416931216931217 and parameters: {'reg_alpha': 3.363200950217892, 'reg_lanbda': 9.626487198282002, 'num_leaves': 107, 'min_child_samples': 33, 'max_depth': 48, 'learning_rate': 0.005, 'colsample_bytree': 0.3134503800937527, 'n_estimators': 4832, 'cat_smooth': 26, 'cat_l2': 15, 'min_data_per_group': 75}. Best is trial 44 with value: 0.4456960680127524.

In [ ]:
# clf = BalancedRandomForestClassifier(n_estimators=100, random_state=0)
# clf.fit(X_lognormal, y_train)
# print('BalancedRandomForestClassifier', cross_val_score(clf, X_lognormal, y_train, cv = 5, scoring='f1').mean())

# clf = BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(),
#                                 sampling_strategy='auto',
#                                 replacement=False,
#                                 random_state=0)
# clf.fit(X_lognormal, y_train)
# print('BalancedBaggingClassifier', cross_val_score(clf, X_lognormal, y_train, cv = 5, scoring='f1').mean())

# clf = BalancedRandomForestClassifier(n_estimators=200, max_depth=50)

# parameters = {
#     'n_estimators': range(10, 50, 5),
#     # 'base_estimator': AdaBoostClassifier()
# }

# grid = GridSearchCV(clf, parameters, cv=5, scoring='f1')

# grid.fit(X_train, y_train)

# clf.fit(X_train, y_train)
# print(cross_val_score(clf, X_train, y_train, cv = 5, scoring='f1').mean())
# clf.fit(X_ros, y_ros)
# print('EasyEnsembleClassifier', cross_val_score(clf, X_train, y_train, cv = 5, scoring='f1').mean())

# clf = EasyEnsembleClassifier()
# clf.fit(X_normilased, y_train)
# print('EasyEnsembleClassifier (X_normilased)', cross_val_score(clf, X_normilased, y_train, cv = 5, scoring='f1').mean())

# clf = RUSBoostClassifier(n_estimators=200, algorithm='SAMME.R')
# clf.fit(X_train, y_train)
# print('RUSBoostClassifier', cross_val_score(clf, X_train, y_train, cv = 5, scoring='f1').mean())

# # DecisionTreeClassifier


# clf = DecisionTreeClassifier()
# clf.fit(X_train, y_train)
# print('RUSBoostClassifier', cross_val_score(clf, X_train, y_train, cv = 5, scoring='f1').mean())

# parameters = {'n_estimators': range(5, 16, 1)}

tl = NeighbourhoodCleaningRule(n_neighbors=6)
X_res, y_res = tl.fit_resample(X_scaled, y_train)
clf = BalancedBaggingClassifier(base_estimator=BalancedRandomForestClassifier(), n_estimators=17)
clf.fit(X_res, y_res)
print('BalancedBaggingClassifier (NeighbourhoodCleaningRule)', cross_val_score(clf, X_scaled, y_train, cv = 5, scoring='f1').mean())

#BalancedBaggingClassifier(base_estimator=BalancedRandomForestClassifier()) - best 0.44526

BalancedBaggingClassifier (NeighbourhoodCleaningRule) 0.4410074780886807

In [ ]:
param = {
    'reg_alpha': 5.741429176964243,
    'reg_lanbda': 8.356164943438623,
    'num_leaves': 164,
    'min_child_samples': 23,
    'max_depth': 48,
    'learning_rate': 0.005,
    'colsample_bytree': 0.27584240575625024,
    'n_estimators': 5217,
    'cat_smooth': 33,
    'cat_l2': 14,
    'min_data_per_group': 103
}

model = lightgbm.LGBMClassifier(boosting_type='gbdt', num_leaves=164, max_depth=48, learning_rate=0.005, n_estimators=5217,
                                min_child_samples=23, colsample_bytree=0.27584240575625024, reg_alpha=5.741429176964243,
                                reg_lambda=8.356164943438623, random_state=42, cat_smooth=33, cat_l2 = 14, min_data_per_group= 103,
                                metric='f1', error_score='raise')

model.fit(X_scaled, y_n, eval_metric='f1', verbose=True)

print('BalancedBaggingClassifier (NeighbourhoodCleaningRule)', cross_val_score(model, X_scaled, y_n, cv = 5, scoring='f1').mean())

In [ ]:
X_scaled

array([[ 1.04273984, -0.99907137,  0.37696356, ...,  2.0969627 ,
        -1.19643963, -0.20434392],
       [ 1.04273984, -1.29760282,  0.37696356, ..., -0.95959044,
        -1.14555996, -0.08479663],
       [ 1.04273984,  1.68771168,  0.37696356, ..., -0.95959044,
        -1.14555996, -0.08479663],
       ...,
       [-0.95901198,  0.79211733, -0.73006389, ..., -1.12046166,
         2.16161847, -0.38764976],
       [-0.95901198,  1.09064878, -0.73006389, ...,  0.00563687,
         2.51777614, -0.96147675],
       [ 1.04273984,  2.28477458, -0.73006389, ..., -0.87915483,
         2.31425747, -0.4035894 ]])

In [ ]:
grid.best_score_

0.4424120885192556

In [ ]:
grid.best_params_

{'n_estimators': 15}

In [ ]:
y_pred = clf.predict(X_scaled)

In [ ]:
accuracy_score(y_train, y_pred)

0.6898195706571842

In [ ]:
cross_val_score(clf, X_train, y_train, cv = 5, scoring='f1').mean()

0.43493946851996024

In [ ]:
grid.best_score_

0.43814920671855184

In [ ]:
grid.best_params_

{'n_estimators': 20}

In [ ]:
clf = BalancedRandomForestClassifier()

parameters = {
    'n_estimators': range(10, 200, 10),
    'max_depth': range(2, 50, 2),
    'min_samples_split': range(2, 5, 1),
    'min_samples_leaf': range(1, 5, 1),
    'bootstrap' : [True, False],
    'oob_score' : [True, False],   

    # 'base_estimator': AdaBoostClassifier()
}

grid = GridSearchCV(clf, parameters, cv=5, scoring='f1')

grid.fit(X_train, y_train)

In [ ]:
grid.best_score_

In [ ]:
grid.best_params_

In [ ]:
clf = EasyEnsembleClassifier()
clf.fit(X_train, y_train)
cross_val_score(clf, X_train, y_train, cv = 5, scoring='f1').mean()

0.437265956961142

Считаем тестовую выборку и предскажем ответы для нее

In [ ]:
df_test = pd.read_csv('credit_test.csv', index_col='id')
df_test.head()

,gender,age,marital_status,credit_sum,credit_month,tariff_id,education,credit_count,overdue_credit_count,job_pos,credit_score,region,income
id,,,,,,,,,,,,,
39162,F,18,UNM,"39469,00",6,1.44,GRD,NaN,NaN,SPC,"0,424628",САНКТ-ПЕТЕРБУРГ Г,30000.0
10673,F,63,WID,"16693,00",10,1.32,GRD,2.0,0.0,SPC,"0,311945",ОБЛ ЛЕНИНГРАДСКАЯ,21250.0
121409,M,42,MAR,"60260,00",10,1.10,GRD,5.0,0.0,SPC,"0,421982",МОСКВА Г,150000.0
23504,M,41,MAR,"32479,00",12,1.10,GRD,1.0,0.0,DIR,"0,406572",ТАТАРСТАН РЕСП,150000.0
69269,F,24,UNM,"8159,00",12,1.10,SCH,2.0,0.0,SPC,"0,418243",ТВЕРСКАЯ ОБЛ,16000.0

Удалим колонки с которыми мы не работаем, как и на тренировочной выборке

In [ ]:
# X_test = df_test.drop(columns=['gender', 'marital_status', 'education', 'job_pos', 'region'])
# X_test['credit_sum'] = X_test['credit_sum'].apply(lambda x: float(x.replace(',', '.')))
# X_test['credit_score'] = X_test['credit_score'].apply(lambda x: float(x.replace(',', '.')))
# X_test = X_test.fillna(-1)


# X_test = df_test.drop(columns=['region'])
X_test = df_test
X_test['credit_sum'] = X_test['credit_sum'].apply(lambda x: int(float(x.replace(',', '.'))))
X_test['credit_score'] = X_test['credit_score'].apply(lambda x: float(x.replace(',', '.')))
X_test['credit_score'] = X_test['credit_score'].apply(lambda x: float("{:.2f}".format(x)))
X_test = X_test.fillna('-1')
X_test['credit_count'] = X_test['credit_count'].apply(lambda x: int(x))
X_test['overdue_credit_count'] = X_test['overdue_credit_count'].apply(lambda x: int(x))
X_test['income'] = X_test['income'].apply(lambda x: int(x))
X_test['gender'] = X_test['gender'].apply(lambda x: int(x.replace('F','0').replace('M', '1')))
X_test['marital_status'] = X_test['marital_status'].apply(lambda x: int(x.replace('MAR','1').replace('UNM', '2').replace('DIV', '3').replace('CIV', '4').replace('WID', '5')))
X_test['job_pos'] = X_test['job_pos'].apply(lambda x: int(x.replace('SPC','1').replace('BIU', '2').replace('UMN', '3').replace('WOI', '4').replace('ATP', '5').replace('INP','6').replace('BIS', '7').replace('HSK', '8').replace('DIR', '9').replace('PNV', '10').replace('PNA','11').replace('PNI', '12').replace('WRP', '13').replace('PNS', '14').replace('WRK', '15').replace('ONB','16').replace('NOR', '17').replace('INV', '18')))
X_test['education'] = X_test['education'].apply(lambda x: int(x.replace('SCH','1').replace('GRD', '2').replace('UGR', '3').replace('PGR', '4').replace('ACD', '5')))
X_test['region'] = X_test['region'].apply(lambda x: str(x).replace('ОБЛАСТЬ','').replace('РЕСПУБЛИКА','').replace('ОБЛ','').replace('ОКРУГ','').replace('РЕСП','').replace('КРАЙ','').replace('Г','').replace('.','').replace('Р-Н','').replace(' ',''))

In [ ]:
df_test.region

id
39162     САНКТ-ПЕТЕРБУРГ Г
10673     ОБЛ ЛЕНИНГРАДСКАЯ
121409             МОСКВА Г
23504        ТАТАРСТАН РЕСП
69269          ТВЕРСКАЯ ОБЛ
                ...
14148             САМАРСКАЯ
153732        САМАРСКАЯ ОБЛ
37647        РОСТОВСКАЯ ОБЛ
92808      ОБЛ СВЕРДЛОВСКАЯ
140311      ОБЛ ВОЛОГОДСКАЯ
Name: region, Length: 56347, dtype: object

In [ ]:
# diction = {}
diction_test = {}
i = 286
for reg in X_test.region.unique():
    diction_test[reg] = i
    i += 1

for key in diction:
    diction_test[key] = diction[key]

# diction_test['ДАЛЬНИЙВОСТОК']
# X_test['region'] = 0

# X_train['region'][148877]

for id in tqdm(X_test.index):
    X_test['region'][id] = diction_test[X_test['region'][id]]
diction

In [ ]:
X_train

,id,gender,age,marital_status,credit_sum,credit_month,tariff_id,education,credit_count,overdue_credit_count,job_pos,credit_score,income
0,26031,1,24,2,24000,10,1.60,1,2,0,1,0.728851,35000
1,148877,1,23,2,16339,18,1.10,1,2,0,1,0.347385,38000
2,142019,1,54,2,15652,10,1.32,2,2,0,1,0.349705,38000
3,146816,0,52,2,16560,10,1.10,1,1,0,1,0.359232,28000
4,27699,0,63,5,9078,18,1.10,1,4,0,1,0.529368,30000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114394,119880,1,29,1,29678,10,1.60,2,1,0,1,0.721156,25000
114395,103695,1,29,1,23068,15,1.10,2,3,0,1,0.566393,30000
114396,131933,0,45,1,16418,10,1.10,1,1,0,3,0.327380,30400
114397,146868,0,49,1,12169,10,1.40,1,1,0,1,0.467395,16000
114398,121959,1,57,1,8579,10,1.10,1,4,0,7,0.355289,30000

In [ ]:
X_test.loc[((X_test.age >= 18) & (X_test.age <= 20)),  'age'] = 1
X_test.loc[((X_test.age >= 21) & (X_test.age <= 23)),  'age'] = 2
X_test.loc[((X_test.age >= 24) & (X_test.age <= 26)),  'age'] = 3
X_test.loc[((X_test.age >= 27) & (X_test.age <= 30)),  'age'] = 4
X_test.loc[((X_test.age >= 31) & (X_test.age <= 34)),  'age'] = 5
X_test.loc[((X_test.age >= 35) & (X_test.age <= 37)),  'age'] = 6
X_test.loc[((X_test.age >= 38) & (X_test.age <= 42)),  'age'] = 7
X_test.loc[((X_test.age >= 43) & (X_test.age <= 44)),  'age'] = 8
X_test.loc[((X_test.age >= 45) & (X_test.age <= 46)),  'age'] = 9
X_test.loc[((X_test.age >= 47) & (X_test.age <= 50)),  'age'] = 10
X_test.loc[((X_test.age >= 51) & (X_test.age <= 52)),  'age'] = 11
X_test.loc[((X_test.age >= 53) & (X_test.age <= 54)),  'age'] = 12
X_test.loc[((X_test.age >= 55) & (X_test.age <= 56)),  'age'] = 13
X_test.loc[((X_test.age >= 57) & (X_test.age <= 59)),  'age'] = 14
X_test.loc[((X_test.age >= 60) & (X_test.age <= 63)),  'age'] = 15
X_test.loc[((X_test.age >= 64) & (X_test.age <= 66)),  'age'] = 16
X_test.loc[((X_test.age >= 67) & (X_test.age <= 70)),  'age'] = 17
X_test.loc[((X_test.age >= 71) & (X_test.age <= 71)),  'age'] = 18

In [ ]:
test_scaler = StandardScaler().fit(X_test)
# scaler
X_test_scaled = test_scaler.transform(X_test)
X_test_scaled

array([[-0.96746596, -1.59629004,  0.37814137, ..., -0.40100365,
        -0.39327902, -0.40729547],
       [-0.96746596,  2.5767847 ,  3.70495491, ..., -1.28607044,
        -1.20713226, -0.75811575],
       [ 1.0336281 ,  0.19217056, -0.73079648, ..., -0.40100365,
        -1.16191819,  4.40395407],
       ...,
       [ 1.0336281 ,  1.6825544 , -0.73079648, ..., -1.28607044,
         0.42057421, -0.54762359],
       [-0.96746596, -0.70205974,  0.37814137, ..., -1.04468859,
        -0.89063378, -0.0865455 ],
       [-0.96746596,  0.7883241 ,  0.37814137, ..., -0.1596218 ,
         1.23442744, -0.64785795]])

In [ ]:
X_test_minmax = min_max_scaler.fit_transform(X_test)
X_test_minmax

array([[0.        , 0.        , 0.25      , ..., 0.40785614, 0.04663212,
        0.03333441],
       [0.        , 0.82352941, 1.        , ..., 0.29962387, 0.        ,
        0.0236122 ],
       [1.        , 0.35294118, 0.        , ..., 0.40531465, 0.00259067,
        0.16666759],
       ...,
       [1.        , 0.64705882, 0.        , ..., 0.29976218, 0.09326425,
        0.02944552],
       [0.        , 0.17647059, 0.25      , ..., 0.3256189 , 0.01813472,
        0.04222329],
       [0.        , 0.47058824, 0.25      , ..., 0.43477518, 0.13989637,
        0.02666775]])

Предскажем значения для тестовой выборки

In [ ]:
X_lognormal_test = pt.fit_transform(X_test_minmax)

In [ ]:
y_pred = clf.predict(X_test_scaled)

In [ ]:
print("ssssssssssssssssssssssssssssssssssssssssssssssssss")

ssssssssssssssssssssssssssssssssssssssssssssssssss

In [ ]:
y_pred

array([False,  True, False, ..., False, False, False])

Создадим отдельный датасет для отправки на kaggle. 

Данный датасет будет содержать только два необходимых столбца — id и наш ответ.

In [ ]:
df_test = pd.read_csv('credit_test.csv')
df_test.head()

,id,gender,age,marital_status,credit_sum,credit_month,tariff_id,education,credit_count,overdue_credit_count,job_pos,credit_score,region,income
0,39162,F,18,UNM,"39469,00",6,1.44,GRD,NaN,NaN,SPC,"0,424628",САНКТ-ПЕТЕРБУРГ Г,30000.0
1,10673,F,63,WID,"16693,00",10,1.32,GRD,2.0,0.0,SPC,"0,311945",ОБЛ ЛЕНИНГРАДСКАЯ,21250.0
2,121409,M,42,MAR,"60260,00",10,1.10,GRD,5.0,0.0,SPC,"0,421982",МОСКВА Г,150000.0
3,23504,M,41,MAR,"32479,00",12,1.10,GRD,1.0,0.0,DIR,"0,406572",ТАТАРСТАН РЕСП,150000.0
4,69269,F,24,UNM,"8159,00",12,1.10,SCH,2.0,0.0,SPC,"0,418243",ТВЕРСКАЯ ОБЛ,16000.0

In [ ]:
df_kaggle = df_test[['id',]]
df_kaggle['opened'] = y_pred.astype(bool)
df_kaggle.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       id  opened
0   39162   False
1   10673    True
2  121409   False
3   23504   False
4   69269    True

Сохраним полученный результат в .csv файл для отправки на kaggle

In [ ]:
df_kaggle.to_csv('my_submission.csv', index=False)